$background-primary:rgba(255, 255, 255, 0.8);
$shadow-primary:0px 4px 6px rgba(0, 0, 0, 0.5);
@mixin contenedorInicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    grid-template-areas: 
        "contenedor1 contenedor2"
        "contenedor3 contenedor4";
    width: fit-content;
    height: fit-content;
    background-color:$background-primary;
    border-radius: 15px;
    box-shadow: $shadow-primary;
    overflow: auto;
    justify-items: center;
    align-items: center;
    gap: 40px;
}
@mixin contenedorInicio_1{
    grid-area: contenedor1;
    background-image: url(assets/quienes_somos.png);
    background-size: cover;
    border-radius: 15px;
    width: 15vw;
    height: 15vw;
    box-shadow: $shadow-primary;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin contenedorInicio_2{
    grid-area: contenedor2;
    background-image: url(assets/horse_2328554.png);
    background-size: cover;
    border-radius: 15px;
    width: 15vw;
    height: 15vw;
    box-shadow: $shadow-primary;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin contenedorInicio_3{
    grid-area: contenedor3;
    background-image: url(assets/french-fries_605302.png);
    background-size: cover;
    border-radius: 15px;
    width: 15vw;
    height: 15vw;
    box-shadow: $shadow-primary;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin contenedorInicio_4 {
    grid-area: contenedor4;
    background-image:url(assets/contact_4838927.png);
    background-size: cover;
    border-radius: 15px;
    width: 15vw;
    height: 15vw;
    box-shadow: $shadow-primary;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorInicio{
    @include contenedorInicio;
    .contenedorInicio_1 {
        @include contenedorInicio_1;
    }
    .contenedorInicio_2 {
        @include contenedorInicio_2;
    }
    .contenedorInicio_3 {
        @include contenedorInicio_3;
    }
    .contenedorInicio_4 {
        @include contenedorInicio_4;
    }
    .contenedorInicio_1:hover,
    .contenedorInicio_2:hover,
    .contenedorInicio_3:hover,
    .contenedorInicio_4:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
    .botonInvisible {
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
}





