@mixin bienvenidos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    grid-template-areas: 
        "titulo titulo"
        "parrafo parrafo2";
    width: 80vw;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: auto;
}
@mixin titulo {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    margin-top: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    grid-area: titulo;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
@mixin parrafo{
    font-size: 1vw;
    text-align: justify;
    margin: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    grid-area: parrafo;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    height: fit-content;
}
@mixin parrafo2{
    font-size: 1vw;
    text-align: justify;
    margin: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    grid-area: parrafo2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    height: fit-content;
}



#bienvenidos{
    @include bienvenidos;
    .titulo{
        @include titulo;
    }
    .titulo:hover{
        color: #4CAF50;
        transition: color 0.3s ease;
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }
    .parrafo{
        @include parrafo;
    }
    .parrafo2{
        @include parrafo2;
    }
    .parrafo:hover{
        color: #4CAF50;
        transition: color 0.3s ease;
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }

    .parrafo2:hover{
        color: #4CAF50;
        transition: color 0.3s ease;
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }
}
    





